{%  comment  %}

This section showing featured products from collection which choosing in settings.
If a product has been added to the cart, it`s dont showing.

Settings:

- Title
- Collection
- Max product showing

Presets:

- Collection: all
- Max product showing: 4

let url = 'https://refactorr.myshopify.com/?section_id=template--19073435402584__50d3d6a2-cfc4-482f-bdf1-e94145abde97'

fetch(url).then(response => response.text())
    .then((responseText) => {
        const new_html = new DOMParser()
    .parseFromString(responseText, 'text/html')
    .getElementById('FeaturedProducts').innerHTML
    document.getElementById('FeaturedProducts').innerHTML = new_html;
})

{% endcomment %}

{{ 'section-featured-products.css' | asset_url | stylesheet_tag }}
{{ 'component-product-card.css' | asset_url | stylesheet_tag }}

{{ 'container.css' | asset_url | stylesheet_tag }}

<section class="featured-products" id="FeaturedProducts" data-section="{{ section.id }}">
  <div class="container">

    <div class="featured-products__title">
      <h3 class="featured-products__title-text">{{ section.settings.section_label }}</h3>
    </div>
    <div class="featured-products__wrapper">
      {% for product in section.settings.collection.products limit: section.settings.max_products_range %}

        {% comment %}
          This is a conditional check if the product is available, if not, it wont be shown
        {% endcomment %}

        {% unless product.available %}
          {% break %}
        {% endunless %}

        {% assign is_in_cart = false %}

        {% comment %}
          This is a conditional check if the product is in the cart, if so, it wont be shown
        {% endcomment %}
        {% for item in cart.items %}
          {% if item.product_id == product.id %}
            {% assign is_in_cart = true %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% unless is_in_cart %}
          {% render 'product-card',
            product: product,
          %}
        {% endunless %}


        {% comment %} {% unless product contains cart.items %}
          {% render 'product-card',
            product: product,
          %}
        {% endunless %} {% endcomment %}
      {% endfor %}
    </div>

  </div>
</section>

{% schema %}
{
  "name": "Featured products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "id": "section_label",
      "default": "Featured products",
      "type": "text",
      "label": "Label text"
    },
    {
    "type":"collection",
    "id":"collection",
    "label":"t:sections.featured-collection.settings.collection.label"
    },
    {
      "id": "max_products_range",
      "default": 4,
      "type": "range",
      "min": 4,
      "max": 16,
      "step": 4,
      "label": "Max product range.",
      "info": "Choice max products."
    }
  ],
  "presets":[
    {
      "name":"Collection products",
      "settings":{
        "collection":"all",
        "max_products_range":4
      }
    }
  ]
}
{% endschema %}